@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes appearFromLeft {
  0% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    -webkit-transform: translateX(-20vw);
            transform: translateX(-20vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
    opacity: 1;
  }
}

@-webkit-keyframes appearFromBottom {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    -webkit-transform: translateY(20vh);
            transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 1;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
  }
  4% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  6% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
  }
  8% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  12% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  2% {
    -webkit-transform: translateY(3vh);
            transform: translateY(3vh);
  }
  4% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  6% {
    -webkit-transform: translateY(2vh);
            transform: translateY(2vh);
  }
  8% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  12% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.navigation {
  position: absolute;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  width: 100%;
  padding: 4vw;
  -webkit-animation: appear 1s 0.3s;
          animation: appear 1s 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.navigation__logo {
  height: 2.5vh;
  padding-left: 2vw;
}

.navigation__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.navigation__item {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8vh;
  padding: 2vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation__item:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.navigation__link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.carousel {
  overflow: hidden;
  width: 90rem;
  right: -40rem;
  bottom: 0;
  z-index: 1000;
  position: absolute;
  -webkit-animation: appear 1s 0.3s;
          animation: appear 1s 0.3s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.carousel__images {
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.carousel__item {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.carousel__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.carousel__item--img {
  height: 28rem;
  width: 19rem;
  border-radius: 10px;
  cursor: pointer;
}

.carousel__item--text {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.carousel__actions {
  position: absolute;
  right: 55rem;
  bottom: 16.5rem;
  z-index: 1000;
  position: absolute;
}

.carousel__btn {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  font-size: 5rem;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.carousel__btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.carousel__btn:focus {
  outline: none;
}

.carousel__btn--prev {
  margin-right: 2rem;
}

.carousel__btn--next {
  margin-left: 2rem;
}

@media only screen and (max-width: 968px) {
  .carousel {
    overflow: auto;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: auto;
  }
  .carousel__item {
    margin-right: 1vw;
    margin-left: 1vw;
  }
  .carousel__item--img {
    height: 28vw;
    width: 20vw;
  }
  .carousel__actions {
    display: none;
  }
}

html {
  overflow: hidden;
}

html {
  overflow: auto;
}

body {
  background-color: #101010;
}

.section__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.section__hero--header {
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: 1px;
  color: #fff;
  -webkit-animation: appear 1s 1s;
          animation: appear 1s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.scroll-down {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 2.5vh;
  -webkit-animation: bounce 10s 1s;
          animation: bounce 10s 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.scroll-down__icon {
  width: 5vh;
  color: #fff;
}

.sub-pages__footer {
  margin-top: 25vh;
  height: 15vh;
  background-color: #f5c21c;
}

.sub-pages__footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  list-style: none;
}

.sub-pages__footer .footer__link {
  color: #101010;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2vh;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.sub-pages__footer .footer__link:hover {
  color: #fff;
}

.bali-page {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%), to(#101010)), url(../img/bali-bg.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 80%, #101010), url(../img/bali-bg.jpg);
  background-position: center;
  background-size: cover;
}

.cambodia-page {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%), to(#101010)), url(../img/cambodia-bg.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 80%, #101010), url(../img/cambodia-bg.jpg);
  background-position: center;
  background-size: cover;
}

.thailand-page {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%), to(#101010)), url(../img/thailand-bg-2.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 80%, #101010), url(../img/thailand-bg-2.jpg);
  background-position: center;
  background-size: cover;
}

.vietnam-page {
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%), to(#101010)), url(../img/vietnam-bg.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), 80%, #101010), url(../img/vietnam-bg.jpg);
  background-position: center;
  background-size: cover;
}

.discover__list {
  margin-left: 15vw;
  list-style: none;
  -webkit-animation: appear 1s 0.2s;
          animation: appear 1s 0.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.discover__item {
  margin-top: 10vh;
}

.discover__link {
  font-size: 10vh;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 5vw;
  padding-left: 5vw;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(49.9%, #fff), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #fff 0%, #fff 49.9%, transparent 50%);
  background-size: 220%;
  background-position-x: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.discover__link:hover {
  color: #101010;
  background-position-x: 0;
}

.contact {
  width: 80vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20vw;
  -webkit-animation: appearFromLeft 1s;
          animation: appearFromLeft 1s;
}

.contact__header {
  font-size: 10vh;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 5vh;
}

.contact__input {
  height: 10vh;
}

.contact__label {
  font-size: 2vh;
  line-height: 3.5vh;
  color: #fff;
}

.contact__text-box {
  border: none;
  height: 5vh;
  width: 40vw;
  padding-left: 3px;
  font-family: "Roboto";
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contact__text-box--msg {
  border: none;
  height: 15vh;
  width: 40vw;
  font-family: "Roboto";
  padding-top: 3px;
  padding-left: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact__text-box--msg:focus {
  border-right: 5px solid #5ce021;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contact__text-box--msg:invalid {
  border-right: 5px solid #f5c21c;
}

.contact__text-box:focus {
  border-right: 5px solid #5ce021;
  outline: none;
}

.contact__text-box:invalid {
  border-right: 5px solid #f5c21c;
}

.contact__submit {
  margin-top: 12vh;
  height: 5rem;
  width: 15rem;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__submit:hover {
  border: 2px solid #f5c21c;
  color: #f5c21c;
  cursor: pointer;
}

.blog {
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-top: 15vh;
  -webkit-animation: appearFromBottom 1s 0.75s;
          animation: appearFromBottom 1s 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.blog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__section--header {
  margin-top: 15vh;
  padding-bottom: 0 !important;
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

.blog__heading {
  font-style: italic;
  font-size: 5vh;
  font-weight: 600;
  text-transform: uppercase;
}

.blog__subheading {
  text-transform: uppercase;
  font-size: 2vh;
  font-weight: 300;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.blog__text {
  margin-top: 1vh;
  font-size: 2vh;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2.5vh;
}

.blog__read-more {
  color: #f5c21c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog__read-more:hover {
  color: #fff;
}

.when-travel-opens {
  background-image: url(../img/WhenTravelOpensUp.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

.backpacking-cambodia {
  background-image: url(../img/backpacking-cambodia-travel-guide.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 665px) {
  .blog {
    width: 80vw;
  }
}

.hero {
  height: 100vh;
  padding-left: 10rem;
  max-width: 75rem;
  margin-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__header {
  font-size: 8rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-animation: appear 1s 1s;
          animation: appear 1s 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero__text {
  font-size: 2vh;
  color: #fff;
  -webkit-animation: appear 1s 1.5s;
          animation: appear 1s 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero__btn {
  position: absolute;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  bottom: 24vh;
  font-size: 1.5rem;
  margin-left: 10rem;
  padding: 1rem;
  width: 15rem;
  height: 5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: appear 1s 2s;
          animation: appear 1s 2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.hero__btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.hero__btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}

.hero__btn:focus {
  outline: none;
}

.bali {
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bali-bg.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.vietnam {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/vietnam-bg.jpg);
  background-position: bottom;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cambodia {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/cambodia-bg.jpg);
  background-position: bottom;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.thailand {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/thailand-bg-2.jpg);
  background-position: top;
  background-size: cover;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media only screen and (max-width: 1260px) {
  .hero__header {
    font-size: 10vh;
  }
  .hero__text {
    width: 75%;
  }
}

@media only screen and (max-width: 1096px) {
  .hero__text {
    width: 65%;
  }
}

@media only screen and (max-width: 1020px) {
  .hero__text {
    width: 55%;
  }
}

@media only screen and (max-width: 968px) {
  .hero {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20vh;
    padding-left: 5vw;
  }
  .hero__btn {
    z-index: 1000;
    margin-left: 0;
    right: 5vw;
    top: 30vh;
  }
}

@media only screen and (max-width: 425px) {
  .hero__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
  }
}

.underline {
  height: 0.3rem;
  width: 12rem;
  background-color: #f5c21c;
  margin-bottom: 2vh;
}

.yellow {
  color: #f5c21c !important;
}

.section__hidden {
  opacity: 0;
}

.section__to-see--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15vh;
  padding-bottom: 20vh;
  text-align: center;
}

.section__heading {
  font-size: 7vh;
  text-transform: uppercase;
  color: #fff;
}

.section__subheading {
  font-size: 2vh;
  margin: 2vh;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.section__paragraph {
  margin-bottom: 2vh;
  width: 70vh;
  font-size: 3vh;
  font-weight: 300;
  color: #fff;
}

.section__image {
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 70vh;
  width: 50vh;
}

.section__tours {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.to-see__left {
  margin: 5vh 5vh 20vh 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.to-see__right {
  margin: 5vh 5vh 20vh 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: end;
}

.to-see__right--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img__mount-batur {
  background-image: url(../img/bali/mount-batur.jpg);
  background-position: center;
  background-size: cover;
}

.img__canggu {
  background-image: url(../img/bali/canggu.jpg);
  background-position: center;
  background-size: cover;
}

.img__ubud {
  background-image: url(../img/bali/ubud-monkey.jpg);
  background-position: center;
  background-size: cover;
}

.img__nusa {
  background-image: url(../img/bali/nusa.jpg);
  background-position: center;
  background-size: cover;
}

.img__seminyak {
  background-image: url(../img/bali/seminyak.jpg);
  background-position: center;
  background-size: cover;
}

.img__angkor-wat {
  background-image: url(../img/cambodia/angkor-wat.jpg);
  background-position: center;
  background-size: cover;
}

.img__siem-reap {
  background-image: url(../img/cambodia/siem-reap.jpg);
  background-position: center;
  background-size: cover;
}

.img__phnom-penh {
  background-image: url(../img/cambodia/phnom-penh.jpg);
  background-position: center;
  background-size: cover;
}

.img__koh-rong {
  background-image: url(../img/cambodia/koh-rong.jpg);
  background-position: center;
  background-size: cover;
}

.img__kampot {
  background-image: url(../img/cambodia/kampot.jpg);
  background-position: center;
  background-size: cover;
}

.img__halong {
  background-image: url(../img/vietnam/halong-bay.jpg);
  background-position: center;
  background-size: cover;
}

.img__ho-chi-minh {
  background-image: url(../img/vietnam/ho-chi-minh-city.jpg);
  background-position: center;
  background-size: cover;
}

.img__hoi-an {
  background-image: url(../img/vietnam/hoi-an.jpg);
  background-position: center;
  background-size: cover;
}

.img__hanoi {
  background-image: url(../img/vietnam/hanoi.jpg);
  background-position: center;
  background-size: cover;
}

.img__sapa {
  background-image: url(../img/vietnam/sapa.jpg);
  background-position: center;
  background-size: cover;
}

.img__bangkok {
  background-image: url(../img/thailand/bangkok.jpg);
  background-position: center;
  background-size: cover;
}

.img__chiang-mai {
  background-image: url(../img/thailand/chiang-mai.jpg);
  background-position: center;
  background-size: cover;
}

.img__phuket {
  background-image: url(../img/thailand/phuket.jpg);
  background-position: center;
  background-size: cover;
}

.img__phangan {
  background-image: url(../img/thailand/koh-phangan.jpg);
  background-position: center;
  background-size: cover;
}

.img__samui {
  background-image: url(../img/thailand/koh-samui.jpg);
  background-position: center;
  background-size: cover;
}

.tours__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tour__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tour__card {
  height: 47vh;
  width: 34vh;
  margin: 5vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.tour__card--heading {
  margin-top: 2vh;
  font-size: 3vh;
  font-weight: 600;
  letter-spacing: 1;
  color: #fff;
  text-transform: uppercase;
}

.tour__card--subheading {
  font-size: 2vh;
  letter-spacing: 1;
  font-weight: 300;
  color: #f5c21c;
  text-transform: uppercase;
}

.tour__card:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.bali__1 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/bali/bali-experience.jpg);
  background-position: center;
  background-size: 100vh;
}

.bali__2 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/bali/bali-intro.jpg);
  background-position: center;
  background-size: cover;
}

.bali__3 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/bali/intrepid-bali.jpg);
  background-position: center;
  background-size: cover;
}

.cambodia__1 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/cambodia/hoianexpress.jpg);
  background-position: center;
  background-size: 100vh;
}

.cambodia__2 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/cambodia/cambodia-intro.jpg);
  background-position: center;
  background-size: cover;
}

.cambodia__3 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/cambodia/intrepid-cambodia.jpg);
  background-position: center;
  background-size: cover;
}

.vietnam__1 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/vietnam/vietnam-experience.jpg);
  background-position: center;
  background-size: 100vh;
}

.vietnam__2 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/vietnam/vietnam-intro.jpg);
  background-position: center;
  background-size: cover;
}

.vietnam__3 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/vietnam/intrepid-vietnam.jpg);
  background-position: center;
  background-size: cover;
}

.thailand__1 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/thailand/thai-experience.jpg);
  background-position: center;
  background-size: 100vh;
}

.thailand__2 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/thailand/thai-intro.jpg);
  background-position: center;
  background-size: cover;
}

.thailand__3 {
  border-radius: 10px;
  height: 47vh;
  width: 34vh;
  background-image: url(../img/thailand/intrepid-thailand.jpg);
  background-position: center;
  background-size: cover;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
}

.home-html {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */