@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearFromLeft {
  0% {
    transform: translateX(-20vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(20vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  2% {
    transform: translateY(3vh);
  }
  4% {
    transform: translateY(0);
  }
  6% {
    transform: translateY(2vh);
  }
  8% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(1vh);
  }
  12% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
