$default-font: "Roboto";

$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #101010;

$color-blue-1: #7cb8c5;
$color-yellow-1: #f5c21c;
$color-green-1: #5ce021;

$btn-border: 2px solid $color-white;
