.hero {
  height: 100vh;
  padding-left: 10rem;
  max-width: 75rem;
  margin-right: 10vw;
  //   min-width: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    font-size: 8rem;
    text-transform: uppercase;
    color: $color-white;
    animation: appear 1s 1s;
    animation-fill-mode: backwards;
  }

  &__text {
    font-size: 2vh;
    // line-height: 2vh;
    color: $color-white;
    animation: appear 1s 1.5s;
    animation-fill-mode: backwards;
  }

  &__btn {
    position: absolute;
    background: none;
    border: $btn-border;
    color: $color-white;
    font-family: $default-font;
    text-transform: uppercase;
    bottom: 24vh;
    font-size: 1.5rem;
    margin-left: 10rem;
    padding: 1rem;
    width: 15rem;
    height: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    animation: appear 1s 2s;
    animation-fill-mode: backwards;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.7);
    }
    &:focus {
      outline: none;
    }
  }
}

.bali {
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/bali-bg.jpg);
  background-position: center;
  background-size: cover;
  transition: all 1s ease;
}

.vietnam {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/vietnam-bg.jpg);
  background-position: bottom;
  background-size: cover;
  transition: all 1s ease;
}

.cambodia {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/cambodia-bg.jpg);
  background-position: bottom;
  background-size: cover;
  transition: all 1s ease;
}

.thailand {
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url(../img/thailand-bg-2.jpg);
  background-position: top;
  background-size: cover;
  transition: all 1s ease;
}

@media only screen and (max-width: 1260px) {
  .hero {
    &__header {
      font-size: 10vh;
    }
    &__text {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 1096px) {
  .hero {
    &__text {
      width: 65%;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .hero {
    &__text {
      width: 55%;
    }
  }
}

@media only screen and (max-width: 968px) {
  .hero {
    width: 100%;
    justify-content: flex-start;
    // align-items: center;
    // text-align: center;
    margin-top: 20vh;
    // padding-left: 0;
    padding-left: 5vw;

    &__btn {
      z-index: 1000;
      margin-left: 0;
      right: 5vw;
      top: 30vh;
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero {
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 3rem;
      width: 9rem;
      font-size: 1rem;
    }
  }
} ;
