.navigation {
  position: absolute;
  z-index: 1100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 4vw;
  animation: appear 1s 0.3s;
  animation-fill-mode: backwards;

  &__logo {
    height: 2.5vh;
    padding-left: 2vw;
  }

  &__list {
    display: inline-flex;
    list-style: none;
  }

  &__item {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.8vh;
    padding: 2vw;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2, 1.2);
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    transition: all 0.3s ease;
  }
}
