.discover {
  &__list {
    margin-left: 15vw;
    list-style: none;
    animation: appear 1s 0.2s;
    animation-fill-mode: backwards;
  }
  &__item {
    margin-top: 10vh;
  }
  &__link {
    font-size: 10vh;
    font-weight: 600;
    letter-spacing: 1px;
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 5vw;
    padding-left: 5vw;
    background-image: linear-gradient(
      90deg,
      $color-white 0%,
      $color-white 49.9%,
      transparent 50%
    );
    background-size: 220%;
    background-position-x: 100%;
    transition: all 0.5s ease;

    &:hover {
      color: $color-grey-dark-1;
      background-position-x: 0;
    }
  }
}
