.underline {
  height: 0.3rem;
  width: 12rem;
  background-color: $color-yellow-1;
  margin-bottom: 2vh;
}
.yellow {
  color: $color-yellow-1 !important;
}

.section__hidden {
  opacity: 0;
}

.section {
  &__to-see {
    &--header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 15vh;
      padding-bottom: 20vh;
      text-align: center;
    }
  }

  &__heading {
    font-size: 7vh;
    text-transform: uppercase;
    color: $color-white;
  }
  &__subheading {
    font-size: 2vh;
    margin: 2vh;
    font-weight: 300;
    color: $color-white;
    text-transform: uppercase;
  }
  &__paragraph {
    margin-bottom: 2vh;
    width: 70vh;
    font-size: 3vh;
    font-weight: 300;
    color: $color-white;
  }
  &__image {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 70vh;
    width: 50vh;
  }
  //   TOURS
  &__tours {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.to-see__left {
  margin: 5vh 5vh 20vh 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.to-see__right {
  margin: 5vh 5vh 20vh 5vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: end;
  &--text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.img {
  // Bali
  &__mount-batur {
    background-image: url(../img/bali/mount-batur.jpg);
    background-position: center;
    background-size: cover;
  }
  &__canggu {
    background-image: url(../img/bali/canggu.jpg);
    background-position: center;
    background-size: cover;
  }
  &__ubud {
    background-image: url(../img/bali/ubud-monkey.jpg);
    background-position: center;
    background-size: cover;
  }
  &__nusa {
    background-image: url(../img/bali/nusa.jpg);
    background-position: center;
    background-size: cover;
  }
  &__seminyak {
    background-image: url(../img/bali/seminyak.jpg);
    background-position: center;
    background-size: cover;
  }

  // Cambodia
  &__angkor-wat {
    background-image: url(../img/cambodia/angkor-wat.jpg);
    background-position: center;
    background-size: cover;
  }
  &__siem-reap {
    background-image: url(../img/cambodia/siem-reap.jpg);
    background-position: center;
    background-size: cover;
  }
  &__phnom-penh {
    background-image: url(../img/cambodia/phnom-penh.jpg);
    background-position: center;
    background-size: cover;
  }
  &__koh-rong {
    background-image: url(../img/cambodia/koh-rong.jpg);
    background-position: center;
    background-size: cover;
  }
  &__kampot {
    background-image: url(../img/cambodia/kampot.jpg);
    background-position: center;
    background-size: cover;
  }
  // Vietnam
  &__halong {
    background-image: url(../img/vietnam/halong-bay.jpg);
    background-position: center;
    background-size: cover;
  }
  &__ho-chi-minh {
    background-image: url(../img/vietnam/ho-chi-minh-city.jpg);
    background-position: center;
    background-size: cover;
  }
  &__hoi-an {
    background-image: url(../img/vietnam/hoi-an.jpg);
    background-position: center;
    background-size: cover;
  }
  &__hanoi {
    background-image: url(../img/vietnam/hanoi.jpg);
    background-position: center;
    background-size: cover;
  }
  &__sapa {
    background-image: url(../img/vietnam/sapa.jpg);
    background-position: center;
    background-size: cover;
  }
  // Thailand
  &__bangkok {
    background-image: url(../img/thailand/bangkok.jpg);
    background-position: center;
    background-size: cover;
  }
  &__chiang-mai {
    background-image: url(../img/thailand/chiang-mai.jpg);
    background-position: center;
    background-size: cover;
  }
  &__phuket {
    background-image: url(../img/thailand/phuket.jpg);
    background-position: center;
    background-size: cover;
  }
  &__phangan {
    background-image: url(../img/thailand/koh-phangan.jpg);
    background-position: center;
    background-size: cover;
  }
  &__samui {
    background-image: url(../img/thailand/koh-samui.jpg);
    background-position: center;
    background-size: cover;
  }
}

.tours {
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

// TOUR CARDS
.tour {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__card {
    height: 47vh;
    width: 34vh;
    margin: 5vh;
    transition: all 0.4s ease;

    &--heading {
      margin-top: 2vh;
      font-size: 3vh;
      font-weight: 600;
      letter-spacing: 1;
      color: $color-white;
      text-transform: uppercase;
    }
    &--subheading {
      font-size: 2vh;
      letter-spacing: 1;
      font-weight: 300;
      color: $color-yellow-1;
      text-transform: uppercase;
    }
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
}

// TOUR CARD BACKGROUNDS

.bali {
  &__1 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/bali/bali-experience.jpg);
    background-position: center;
    background-size: 100vh;
  }
  &__2 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/bali/bali-intro.jpg);
    background-position: center;
    background-size: cover;
  }
  &__3 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/bali/intrepid-bali.jpg);
    background-position: center;
    background-size: cover;
  }
}

.cambodia {
  &__1 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/cambodia/hoianexpress.jpg);
    background-position: center;
    background-size: 100vh;
  }
  &__2 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/cambodia/cambodia-intro.jpg);
    background-position: center;
    background-size: cover;
  }
  &__3 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/cambodia/intrepid-cambodia.jpg);
    background-position: center;
    background-size: cover;
  }
}

.vietnam {
  &__1 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/vietnam/vietnam-experience.jpg);
    background-position: center;
    background-size: 100vh;
  }
  &__2 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/vietnam/vietnam-intro.jpg);
    background-position: center;
    background-size: cover;
  }
  &__3 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/vietnam/intrepid-vietnam.jpg);
    background-position: center;
    background-size: cover;
  }
}

.thailand {
  &__1 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/thailand/thai-experience.jpg);
    background-position: center;
    background-size: 100vh;
  }
  &__2 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/thailand/thai-intro.jpg);
    background-position: center;
    background-size: cover;
  }
  &__3 {
    border-radius: 10px;
    height: 47vh;
    width: 34vh;
    background-image: url(../img/thailand/intrepid-thailand.jpg);
    background-position: center;
    background-size: cover;
  }
}
